@import '../../../media/styles/adaptive-value';


.large_photo_modal__mask.large_photo_modal__active {
    opacity: 1;
    pointer-events: all;
}
.large_photo_modal__mask {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
    backdrop-filter: blur(7px);
    .large_photo_modal__content img {
        border: 3px solid bisque;
        @include adaptive-value("max-height", 700, 260, 1600);
        @include adaptive-value("max-width", 1200, 210, 1600);
        background-color: rgb(240, 233, 233);
        object-fit: cover;
    }
}