.deleteProductWindow.active {
    opacity: 1;
    pointer-events: all;
}
.deleteProductWindow {
    height: 100%; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    .Content__deleteProductWindow {
        display: grid; 
        grid-template: 50px 1fr 30px / 1fr 1fr;
        grid-template-areas: 
        'txt txt'
        'nam nam'
        'cb db';     
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        min-height: 200px;
        max-height: 350px;
        min-width: 400px;
        max-width: 600px;
        .text__deleteProductWindow {
            grid-area: txt;
            color: rgb(0, 0, 0);
            font-size: 20px;
            font-weight: bolder;
        }
        .name__deleteProductWindow {
            grid-area: nam;
            font-size: 30px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis; 
        }
    }
}