.CancelButton__EditProductWindow {
    grid-area: cancelButton;
    border: 1px solid rgb(117, 3, 3);
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    font-weight: bolder;
}
.CancelButton__EditProductWindow:hover {
    background-color: rgb(219, 33, 33);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    transition: 1s
}
.CancelButton__EditProductWindow:active {
    background-color: rgb(109, 41, 37);
    transition: 0.5s
}