.photo__DetailPageWrapper {
    grid-area: ph;
    padding: 5px;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    border-radius: 7px;
    .ProductPhoto__DetailPageWrapper {
        display: block;
        border-radius: 5px;
        height: 390px;
        width: 390px;
    }
}