.details-page {
    //display: flex;
    //flex-grow: 1;
    //flex-direction: column;
    .details-page__header {
        display: flex;
        justify-content: space-between;
        .details-page__back-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 35px;
            font-size: 20px;  
            font-weight: bolder;
            &:hover {
                box-shadow: 0px 0px 15px rgb(36, 35, 35);
                transition: 0.5s
            }
        }
        .details-page__edit-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 35px;
            font-size: 20px;  
            font-weight: bolder;
            &:hover {
                box-shadow: 0px 0px 15px rgb(36, 35, 35);
                transition: 0.5s
            }
        }
    }
    .details-page__name {
        margin: 20px 0 20px 0;
        font-weight: bold;
        font-size: 40px;
    }
    .details-page__photo-and-characteristics {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        .details-page__photo {
            height: 390px;
            width: 663px;
        }
        .details-page__photo img {
            cursor: pointer;
            padding: 3px;
            background-color: rgb(86, 104, 133);
            object-fit: cover;
            height: 390px;
            width: 663px;
        }
        .details-page__characteristics {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 5px;
            span { font-weight: bold; }
            .details-page__char-block {
                display: flex;
                gap: 5px;
            }
            .details-page__char {
                flex-basis: 100%;
                border: 1px solid rgb(155, 156, 155);
                font-size: 26px;
                background-color: rgb(236, 232, 232);
                padding: 10px;
                &:hover {
                    background-color: rgb(135, 196, 253);
                    transition: 0.5s
                }
            }
        }
    }
}