@import '../../media/styles/adaptive-value';


.details-page {
    .details-page__header {
        display: flex;
        justify-content: space-between;
        .details-page__back-button {
            @include adaptive-value("width", 200, 66, 1600);
            @include adaptive-value("height", 35, 20, 1600);
            @include adaptive-value("font-size", 20, 10, 1600);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            font-weight: bolder;
            &:hover {
                box-shadow: 0px 0px 15px rgb(36, 35, 35);
                transition: 0.5s
            }
        }
        .details-page__edit-button {
            @include adaptive-value("width", 200, 66, 1600);
            @include adaptive-value("height", 35, 20, 1600);
            @include adaptive-value("font-size", 20, 10, 1600);
            display: flex;
            border: 1px solid black;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
            &:hover {
                box-shadow: 0px 0px 15px rgb(36, 35, 35);
                transition: 0.5s
            }
        }
    }
    .details-page__name {
        @include adaptive-value("margin-top", 20, 7, 1600);
        @include adaptive-value("margin-bottom", 20, 7, 1600);
        @include adaptive-value("font-size", 40, 20, 1600);
        font-weight: bold;
    }
    .details-page__photo-and-characteristics {
        display: flex;
        gap: 3px;
        @media(max-width: 700px) {
            flex-wrap: wrap;
        }
        .details-page__photo {
            @include adaptive-value("height", 395, 133, 1600);
            @include adaptive-value("width", 674, 226, 1600);
            @media(max-width: 700px) {
                @include adaptive-value("height", 395, 133, 700);
                @include adaptive-value("width", 674, 226, 700);
            }
            background-color: rgb(86, 104, 133);
        }
        .details-page__photo img {
            @include adaptive-value("height", 395, 133, 1600);
            @include adaptive-value("width", 674, 226, 1600);
            @media(max-width: 700px) {
                @include adaptive-value("height", 395, 133, 700);
                @include adaptive-value("width", 674, 226, 700);
            }
            @include adaptive-value("padding", 3, 1, 1600);
            cursor: pointer;
            background-color: rgb(86, 104, 133);
            object-fit: cover;
        }
        .details-page__characteristics {
            @include adaptive-value("gap", 5, 2, 1600);
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            span { font-weight: bold; }
            .details-page__char-block {
                @include adaptive-value("gap", 5, 2, 1600);
                display: flex;
            }
            .details-page__description-char {
                border: 1px solid rgb(155, 156, 155);
                background-color: rgb(236, 232, 232);
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            .details-page__char {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                @include adaptive-value("height", 50, 25, 1600);
                @include adaptive-value("font-size", 26, 10, 1600);
                @include adaptive-value("padding", 10, 3, 1600);
                flex-basis: 100%;
                border: 1px solid rgb(155, 156, 155);
                background-color: rgb(236, 232, 232);
                transition: background-color 0.5s;
                &:hover {
                    background-color: rgb(214, 225, 239);
                }
            }
        }
    }
}

// .addComment__DetailPageWrapper {
//     grid-area: adcomm;
//     margin-top: 40px;
//     .writeYourComment {
//         font-size: 25px;
//         font-weight: bold;
//         margin-bottom: 10px;
//     }
//     .enterComment__DetailPageWrapper {
//         border: 1px solid black;
//         width: 400px;
//         height: 250px;
//     }
// }
// .addCommentButton__DetailPageWrapper {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 400px;
//     height: 35px;
//     font-size: 20px;  
//     font-weight: bolder;
//     margin-top: 10px;
//     &:hover {
//         box-shadow: 0px 0px 15px rgb(36, 35, 35);
//         transition: 0.5s
//     }
// }


