@import '../../media/styles/adaptive-value';


.details-page {
    .details-page__header {
        display: flex;
        justify-content: space-between;
        .details-page__back-button {
            width: 200px;
            height: 35px;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(86, 104, 133);
            color: rgb(246, 245, 243);
            font-weight: bolder;
            transition: background-color 0.4s;
            @media(max-width: 1400px) {
                width: 170px;
            }
            @media(max-width: 450px) {
                width: 150px; 
                height: 25px;
                font-size: 15px;
            }
            @media(max-width: 350px) {
                width: 80px;
                height: 20px;
                font-size: 10px;
            }
            &:hover {
                background-color: rgb(51, 67, 92);
            }
        }
        .details-page__edit-button {
            width: 200px;
            height: 35px;
            font-size: 20px;
            display: flex;
            border: 1px solid black;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
            background-color: rgb(86, 104, 133);
            color: rgb(246, 245, 243);
            transition: background-color 0.4s;
            @media(max-width: 1400px) {
                width: 170px;
            }
            @media(max-width: 450px) {
                width: 150px; 
                height: 25px;
                font-size: 15px;
            }
            @media(max-width: 350px) {
                width: 80px;
                height: 20px;
                font-size: 10px;
            }
            &:hover {
                background-color: rgb(51, 67, 92);
            }
        }
    }
    .details-page__name {
        margin: 20px 0 20px 0;
        font-size: 40px;
        min-height: 30px;
        max-height: 60px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        @media(max-width: 1400px) {
            margin: 15px 0 15px 0;
            font-size: 30px;
        }
        @media(max-width: 768px) {
            margin: 13px 0 13px 0;
            font-size: 25px;
        }
        @media(max-width: 350px) {
            margin: 7px 0 7px 0;
            font-size: 20px;
        }
    }
    &__photo-and-characteristics {
        display: grid;
        grid-template: 4fr 1fr 1fr 1fr / 1fr 1fr 1fr;
        grid-template-areas: 
        "ph des des"
        "ph clr lng"
        "ph wgt wih"
        "ph cnt hgt";
        background-color: rgb(221, 220, 217);
        justify-items: start;
        span { font-weight: bold; }
        @media(max-width: 768px) {
            grid-template: 1fr auto 50px 50px 50px / 1fr 1fr;
            grid-template-areas: 
            "ph ph"
            "des des"
            "clr lng"
            "wgt wih"
            "cnt hgt";
        }
        .char {
            padding: 10px;
            background-color: rgb(221, 220, 217);
            transition: background-color 0.5s;
            cursor: default;
            font-size: 26px;
            height: 100%;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .details-page__photo {
            grid-area: ph;
            @include adaptive-value("height", 395, 133, 1600);
            @include adaptive-value("width", 674, 226, 1600);
            background-color: rgb(86, 104, 133);
            @media(max-width: 768px) {
                @include adaptive-value("height", 395, 133, 768);
                @include adaptive-value("width", 740, 226, 768);
            }
        }
        .details-page__photo img {
            @include adaptive-value("height", 395, 133, 1600);
            @include adaptive-value("width", 674, 226, 1600);
            cursor: pointer;
            background-color: rgb(86, 104, 133);
            object-fit: cover;
            @include adaptive-value("padding", 3, 1, 1600);
            @media(max-width: 768px) {
                @include adaptive-value("height", 395, 133, 768);
                @include adaptive-value("width", 740, 226, 768);
            }
        }
        .details-page__char-description {
            grid-area: des;
        }
        .details-page__char-color {
            grid-area: clr;
        }
        .details-page__char-length {
            grid-area: lng;
        }
        .details-page__char-weight {
            grid-area: wgt;
        }
        .details-page__char-width {
            grid-area: wih;
        }
        .details-page__char-count {
            grid-area: cnt;
        }
        .details-page__char-height {
            grid-area: hgt;
        }

        //     .details-page__description-char {
        //         border: 1px solid rgb(155, 156, 155);
        //         background-color: rgb(236, 232, 232);
        //         @include adaptive-value("font-size", 26, 10, 1600);
        //         padding: 6px;
        //     }
        //     .details-page__char {
        //         @include adaptive-value("height", 50, 25, 1600);
        //         @include adaptive-value("font-size", 26, 10, 1600);
        //         @include adaptive-value("padding", 10, 3, 1600);
    }
    .details-page__comments-wrapper {

        .comments-wrapper__comments-block {

            .details-page__comment {
                display: flex;
                justify-content: space-between;
                margin: 10px 0px 10px 0px;
                background-color: rgb(236, 232, 232);
                min-height: 60px;
                .comment__del-button {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    margin: 5px;
                    align-self: end;
                    justify-self: end;
                    height: 60px;
                    width: 30px;
                    font-size: 33px;
                }
                .comment__text-of-comment {
                    font-weight: normal;
                    margin: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis; 
                }
            }
        }
        .comments-wrapper__add-comment-block {

            .add-comment-block__textarea {
                font-size: 15px;
            }
            .add-comment-block__add-comment-button {
                width: 200px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;  
                font-weight: normal;
            }
        }
    }
}




