.addCommentButton__DetailPageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 35px;
    font-size: 20px;  
    font-weight: bolder;
    margin-top: 10px;
    &:hover {
        box-shadow: 0px 0px 15px rgb(36, 35, 35);
        transition: 0.5s
    }
}

