.MainPage {
    display: grid;
    grid-template: auto 1fr / 1fr 1fr;
    grid-template-areas: 
    'heading heading'
    'pw      pw';
    background-color: rgb(255, 255, 255);
    
    .Products-wrapper {
        grid-area: pw;
        background-color: rgb(255, 255, 255);   
    }
    .MainPage__heading {
        grid-area: heading;
        display: flex;
        justify-content: space-between;
    }
}

.AddNewProductButton {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: a;
    width: 200px;
    height: 35px;
    font-size: 20px;
    font-weight: bolder;
    &:hover {
        box-shadow: 0px 0px 15px rgb(0, 0, 0);
        transition: 0.5s
    }
}