@import '../../media/styles/adaptive-value';


.main-page {
    background-color: rgb(246, 245, 243);
    .main-page__header {
        display: flex;
        justify-content: space-between;
        @include adaptive-value("margin-bottom", 20, 7, 1600);
        .main-page__add-new-product-button {
            width: 340px;
            height: 35px;
            font-size: 20px;
            @media(max-width: 1400px) {
                width: 170px;
            }
            @media(max-width: 450px) {
                width: 150px; 
                height: 25px;
            }
            @media(max-width: 350px) {
                width: 80px;
                height: 20px;
                font-size: 10px;
            }
            background-color: rgb(86, 104, 133);
            color: rgb(246, 245, 243);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
            transition: background-color 0.4s;
            &:hover {
                background-color: rgb(51, 67, 92);
            }
        }
        .main-page__sort {
            width: 200px;
            height: 35px;
            font-size: 20px;
            @media(max-width: 1400px) {
                width: 170px;
            }
            @media(max-width: 350px) {
                width: 80px;
                height: 20px;
                font-size: 10px;
            }
            background-color: rgb(86, 104, 133);
            color: rgb(246, 245, 243);
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bolder;
            &:hover .sort__list {
                display: block;
            }
            .sort__list {
                @include adaptive-value("width", 190, 75, 1600);
                display: none;
                position: absolute;
                @include adaptive-value("margin-top", 195, 110, 1600);
                .sort__li {
                    background-color: rgb(246, 245, 243);
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 5px;
                    @media(max-width: 350px) {
                        padding-left: 2px;
                    }
                    color: black;
                    border: 1px solid black;
                    cursor: default;
                    @include adaptive-value("width", 190, 75, 1600);
                    @include adaptive-value("height", 35, 20, 1600);

                }
            }
        }
    }
    .main-page__products-wrapper {
        gap: 20px;
        @media(max-width: 1400px) {
            gap: 15px
        }
        @media(max-width: 450px) {
            gap: 10px;
        }
        @media(max-width: 350px) {
            gap: 4px;
        }
        display: flex;
        flex-direction: column;
        background-color: rgb(246, 245, 243);   
    }
}

