.editProductWindow {
    display: flex;
    background-color: rgb(255, 255, 255);
    font-family: Quicksand;
    flex-direction: column;
    .EditProductInput {
        display: flex;
        justify-content: space-between;
        .EditProductLabel {
            font-weight: bolder;
            padding-top: 8px;
            width: 120px;
        }
        .SmallInput {
            border: 1px solid black;
            margin: 5px 0px 5px 0px;
            flex-grow: 1;
        }
        .BigInput {
            display: block;
            border: 1px solid black;
            margin: 5px 0px 5px 0px;
            height: 150px;
            flex-grow: 1;
        }
    }
}