.addNewProductWindow.active {
    opacity: 1;
    pointer-events: all;
}
.addNewProductWindow {
    height: 100%; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    .modalContent {
        display: grid;
        grid-template: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 150px 1fr;
        grid-template-areas: 
        't t'
        'name_t n'
        'discription_t d'
        'color_t c'
        'weight_t wg'
        'length_t l'
        'height_t h'
        'width_t wd'
        'count_t a'
        'photo_t p'
        'cb ab';
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        height: 500px;
        width: 700px;
        .addNewProductWindow__title {
            font-size: larger;
            font-weight: bolder;
            grid-area: t;
        }
        .name_t {
            grid-area: name_t;
        }
        .discription_t {
            grid-area: discription_t;
        }
        .count_t {
            grid-area: count_t;
        }
        .photo_t {
            grid-area: photo_t;
        }
        .color_t {
            grid-area: color_t;
        }
        .weight_t {
            grid-area: weight_t;
        }
        .length_t {
            grid-area: length_t;
        }
        .height_t {
            grid-area: height_t;
        }
        .width_t {
            grid-area: width_t;
        }
    }
}