.add-new-product-window {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    font-family: Quicksand;
    .add-new-product-window__input {
        display: flex;
        justify-content: space-between;
        .add-new-product-window__label {
            font-weight: bolder;
            padding-top: 8px;
            width: 120px;
        }
        .add-new-product-window__small-input {
            border: 1px solid black;
            margin: 5px 0px 5px 0px;
            flex-grow: 1;
        }
        .add-new-product-window___large-input {
            display: block;
            border: 1px solid black;
            margin: 5px 0px 5px 0px;
            height: 150px;
            flex-grow: 1;
        }
    }
}