.Product {
    display: grid;
    grid-template: 70px 80px 50px / 200px 1fr 130px;
    grid-template-areas: 
    'ph n del'
    'ph dis details'
    'ph coun details';
    height: 200px;
    background-color: rgb(236, 232, 232);
    margin-top: 20px;
    &:hover {
        background-color: rgb(135, 196, 253);
    }
    .NameOfProduct {
        font-size: 30px;
        font-weight: bold;
        grid-area: n;
        padding: 10px 0px 0px 10px;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .Description {
        grid-area: dis;
        font-size: 20px;
        padding: 10px 0px 0px 10px;
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .Count {
        grid-area: coun;
        font-size: 20px;
        align-self: end;
        padding: 10px;
        span {
            font-weight: bolder;
        }
    } 
    .ProductPhotoBlock {
        grid-area: ph;
        padding: 5px;
        background-color: rgb(100, 98, 98);
        .ProductPhoto {
            display: block;
            height: 190px;
            width: 190px;
        }
    }
    .DeleteButton {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: del;
        font-family: Quicksand;
        font-weight: bolder;
        height: 30px;
        width: 100px;
        margin: 20px 0px 0px 15px;
        &:hover {
            box-shadow: 0px 0px 15px rgb(36, 35, 35);
            transition: 0.5s  
        }
    }
    .DetailsButton {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: details;
        font-family: Quicksand;
        font-weight: bolder;
        height: 30px;
        width: 100px;
        margin: 80px 0px 0px 15px;
        &:hover {
            box-shadow: 0px 0px 15px rgb(36, 35, 35);
            transition: 0.5s
        }    
    }
}
.name__deleteProductWindow {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: Quicksand;
    overflow: hidden;
    text-overflow: ellipsis; 
}