$maxWidth: 1600;
$maxWidthContainer: 1170;
$midWidth: 240;
$ViewportWidth: 100;

@mixin adaptive-value ($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
        // Якщо менше контейнеру
    @if $type==1 {
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * (($ViewportWidth + vw - $midWidth + px) / #{$maxWidthContainer - 240}));
        }
        // Якщо більше контейнеру
    } @else if $type==2 {
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * (($ViewportWidth + vw - $midWidth + px) / #{$maxWidth - 240}));
        }
        // Завжди
    } @else {
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((#{$ViewportWidth + vw} - #{$midWidth + px}) / #{$maxWidth - 240}));
    }
}