@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import './normalize';


// a {
//     text-decoration: none;  
// }
textarea { 
    font-size: 18px;
    resize: none;
    &:focus {
        background-color: rgb(196, 222, 247);
    }
}

.app-wrapper {
    background-color: rgb(255, 255, 255);
    min-height: 300px;
    font-family: Quicksand;
    padding: 20px 25px 20px 25px;
}