@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import './normalize';
@import './adaptive-value';


.app-wrapper {
    @include adaptive-value("padding", 25, 7, 0);
    background-color: rgb(246, 245, 243);
    font-family: Quicksand;
}
textarea { 
    font-size: 18px;
    padding-left: 5px;
    transition: 0.4s;
    resize: none;
    &:focus {
        background-color: #d6e1ef;
        box-shadow: 0px 0px 5px black;
    }
}
input {
    font-size: 18px;
    padding-left: 5px;
    transition: 0.4s;
    &:focus {
        background-color: rgb(202, 217, 231);
        box-shadow: 0px 0px 5px black;
    }
}
button {
    transition: 0.45s;
}