.addComment__DetailPageWrapper {
    grid-area: adcomm;
    margin-top: 40px;
    .writeYourComment {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .enterComment__DetailPageWrapper {
        border: 1px solid black;
        width: 400px;
        height: 250px;
    }
}


